/* reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* general settings */
:root{
    --default-space-w: 15px;
    --default-space-h: 5px
}
body{
    font-family: 'Varela Round', sans-serif;
}
.container{
    background: linear-gradient(180deg, #14691d 15%, white 0);
    height: 100vh;
}
#app{
    height: 100%;
    display: grid;
    place-items: center;
}
.boolzapp{
    width: 80%;
    height: 90%;
    display: flex;
    box-shadow: 0 0 2px lightgrey;
}
img.profile{
    border-radius: 50%;
    width: 50px;
}
.last-connect{
    font-size: .7rem;
    color: gray;
}
/* Top side */
.top-bool{
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--default-space-w);
    height: 60px;
}
.user-profile{
    display: flex;
    align-items: center;
}
.top-settings{
    display: flex;
    gap: 1rem;
    color: gray;
}
.top-profile-info{
    padding-left: 1rem;
}
/* notifications */
.notifications{
    background-color: deepskyblue;
    display: flex;
    align-items: center;
    padding: 10px var(--default-space-w);
}
.bell{
    background-color: white;
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1 / 1;
    display: grid;
    place-items: center;
}
.bell i{
    font-size: 1.5rem;
    color: deepskyblue;
}
.not-info{
    padding-left: 1rem;
}
.not-info a{
    font-size: .7rem;
    text-decoration: underline;
    color: rgb(0, 75, 98);
}
/* contact list */
.contacts{
    width: 35%;
    height: 100%;
}
.search-contact{
    padding: var(--default-space-h) var(--default-space-w);
    display: flex;
    background-color: rgb(244, 244, 244);
}
.search-contact input{
    width: 100%;
    padding: 7px 10px;
    border-radius: 0 2px 2px 0;
}
.search-contact button{
    background-color: white;
    border-radius: 2px 0 0 2px;
    padding: 7px 20px;
    color: gray;
}
.search-contact button, .search-contact input{
    box-shadow: 0 0 1px grey;
    border: 0;
}
.profile-info{
    padding-left: 1rem;
    width: 100%;
    height: 100%;
    position: relative;
}
.last-message, .user-last-connect{
    font-size: .7rem;
    color: gray;
}
.user-last-connect{
    position: absolute;
    right: 0;
    top: 0;
}
.user{
    padding: var(--default-space-h) var(--default-space-w);
    display: flex;
    border-bottom: 1px solid lightgray;
}
.user:hover{
    background-color: lightgray;
}
/* chat container */
.chat-container{
    width: 75%;
    height: 100%;
}
.chat{
    background-image: url("img/mine.jpg");
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    gap: .7rem;
    padding: 1.5rem 3rem 0;
}
.digital-keyboard{
    height: 60px;
    background-color: #f3f4ed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: var(--default-space-w);
}
.digital-keyboard i{
    font-size: 1.5rem;
    color: gray;
}
.my-chat{
    width: 80%;
    padding: 10px var(--default-space-w);
    border: 0;
}
/* messages */
.send, .recived{
    padding: 10px 10px;
    border-radius: 10px;
    width: 200px;
    position: relative;
}
.send{
    background-color: rgb(145, 215, 101);
    align-self: flex-end;
}
.recived{
    background-color: white;
}
.message-date{
    font-size: .6rem;
    color: gray;
    position: absolute;
    bottom: 2px;
    right: 5px;
}